body {
    background-color: #151515;
    padding: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    overflow: scroll;
}

#phaser-canvas {
    margin: auto;
    max-width: 720px;
    border: 5px black solid;
}

.index-links {
    border-width: 1px;
    display: flex;
    font-size: 50px;
    color: white;
    padding: 10px 10px 10px 10px;
}

.index-container {
    border-width: 1px;
    max-width: 400px;
    margin: 0 auto;
}